<html>
<body>
    <section>
        <h2>Send a normal message</h2>

        <form method="post" action="/api/send">
            <button>Send</button>
        </form>
    </section>

    <section>
        <h2>Send message with delay</h2>

        <form method="post" action="/api/send-with-delay">
            <label>Random message:</label>
            <input type="text" name="message" />

            <button>Send</button>
        </form>
    </section>

    <section>
        <h2>Send message with result</h2>

        <form method="post" action="/api/send-with-response">
            <label>Random message:</label>
            <input type="text" name="message" />

            <button>Send</button>
        </form>
    </section>
</body>
</html>